name: ESLint Check

on:
  workflow_dispatch:
  push:
    paths:
      - "**.ts"
      - "**.tsx"
      - "package.json"
      - "package-lock.json"
      - "eslint.config.js"
  pull_request:
    paths:
      - "**.ts"
      - "**.tsx"
      - "package.json"
      - "package-lock.json"
      - "eslint.config.js"

jobs:
  lint:
    name: Run ESLint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Node.js and cache dependencies
        uses: actions/setup-node@v6
        with:
          node-version: "22"
          cache: "npm"

      - name: Install dependencies
        run: npm ci

      - name: Run ESLint
        run: npm run lint
